<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Correction_TP10::extra" title="Extra items" translate="title" module="Correction_TP10" sortOrder="999999" dependsOnModule="Correction_TP10" resource="Correction_TP10::extra"/>
        <add id="Correction_TP10::series" title="Series" translate="title" module="Correction_TP10" sortOrder="10" parent="Correction_TP10::extra" action="correctiontp10/series/" resource="Correction_TP10::series"/>
        <add id="Correction_TP10::vendors" title="Vendors" translate="title" module="Correction_TP10" sortOrder="10" parent="Correction_TP10::extra" action="correctiontp10/vendors/" resource="Correction_TP10::vendors"/>
    </menu>
</config>
